###############################################################################
# Ignore these directories
###############################################################################

coverage/
dist/
node_modules/

###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*
*.env*

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.gitignore
!.nvmrc
