###############################################################################
# Ignore these directories
###############################################################################

coverage/
dist/
node_modules/

###############################################################################
# Ignore these files
###############################################################################

*.log
*~
.*
*.env*

###############################################################################
# Accept these files
###############################################################################

!.editorconfig
!.eslintrc.json
!.gitignore
!.huskyrc
!.lintstagedrc
!.nvmrc
!.prettierrc
